@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

.rotateLeft {
    margin-top: 42vh;
    transform: rotate(-90deg);
    font-size: 13px;
}

.rotateRight {
    display: flex;
    margin-top: 42vh;
    transform: rotate(+90deg);
    font-size: 13px;
}

.container {
    display: flex;
}

.left, 
.right {
    position: fixed;
    display: block;
    width: 90px;
    height: 100vh;
}

.left {
    left: 0;
    border-right: 1px solid #000;
}

.right {
    right: 0;
    border-left: 1px solid #000;
}


.header,
.footer {
    font-size: 16px;
    padding: 320px 320px 320px 320px;
    padding-left: 450px;
    background-color: rgb(244, 242, 240);
}

.header {
    border-bottom: 1px solid black;
}

.footer {
    border-top: 1px solid black;
}

.content {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px 70px 60px 70px;
    /* see exact padding later */
    background-color: #ffffff;
}

.title {
    text-align: right;
    margin-right: 100px;
    margin-top: 5px;
    width: 13vh;
    font-weight: 400;
    font-size: 16px;
   
}

.info {
    width: 82vh;
    line-height: 31px;
    letter-spacing: .5px;
    font-size: 16px;
}

.upArrow:hover,
.downArrow:hover {
    cursor: pointer;
}

.link {
    color: black;
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: #0000EE;
    color: #0000EE;
    text-decoration-thickness: 2px;
}

.reach {
    margin-top: -15px;
    text-decoration: underline
}

.contact {
    text-decoration: none;
    color: black;
}

.start {
    display: flex;
    align-items: center;
}

.start:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.first {
    padding-top: 180px;
}

.last {
    padding-bottom: 180px;
}

.second {
    margin-top: -15px;
    display: flex;
    gap: 8px;
    align-items: center;
}