@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.light-body {
    background-color: #ffffff;
    color: black;
}

.dark-body {
    background-color: #0c0c0c;
    color: white;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 980px;
    padding-right: 50px;
    padding-left: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 105px;
    padding-bottom: 60px;
}

.seek {
    display: flex;
    align-items: center;
    gap: 10px;
}

@keyframes circle {
    from { transform: scale(1); }
    to { transform: scale(0.6); }
}

.animate {
    width: 16px;
    height: 16px;
    animation: circle 0.6s infinite;
    animation-direction: alternate-reverse;
}

.content {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 70px;
}

.title {
    width: 108px;
    margin-top: 4px;
    text-align: left;
}

.info {
    width: 750px;
    line-height: 30px;
    letter-spacing: .5px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.message {
    display: flex;
    align-items: center;  
    gap: 5px;
    padding-top: 60px;
}

.size {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 100px;
}

.contacts,
.year {
    display: flex; 
    align-items: center;
}

.contacts {
    gap: 45px;
}

.mode {
    width: 19px;
    height: 19px;
}

.light-ex {
    color: #000;
}

.dark-ex {
    color: white;
}

.light-ex:hover,
.dark-ex:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #087cfc;
    color: #087cfc;
}

.light-in {
    color: black;
    text-decoration: none;
}

.dark-in {
    color: white;
    text-decoration: none;
}

.light-in:hover,
.dark-in:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #087cfc;
    color:#087cfc;
    text-decoration-thickness: 3px;
}

.button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 4px 7px 4px 7px;
}

.filter-white {
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(88deg) brightness(111%) contrast(100%);
}

.filter-black {
    filter: invert(0%) sepia(27%) saturate(505%) hue-rotate(316deg) brightness(100%) contrast(84%);
}

.experience {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.role {
    margin-top: -15px;
}